<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, escala inicial=1.0">
  <title> Raspador de produtos da Amazon</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <h1 class="header__title">Amazon Product Scraper</h1>
      <div class="header__content">
        <input type="text" id="keywordInput" placeholder="Digite sua palavra-chave">
        <button class="scrapeButton" id="scrapeButton">Scrape Products</button>
      </div>
    </header>
    <main id="results"></main>
  </div>

  <script src="/script/script.js"></script>
</body>

</html>